<div id="footer">&copy; Wabisebi • All rights reserved • All illustrations and content unless mentioned otherwise<br/>
This blog is generated with <a href="https://github.com/cfenollosa/bashblog">bashblog</a></div>