body {
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #aeb0be;
}

#divbodyholder {
    padding: 0px;
    background-color: #DDD;
    width: 100%;
    max-width: 960px;
    margin: 24px auto;
    box-sizing: border-box;
}

#divbody {
    border: solid 1px #ccc;
    background-color: #fff;
    padding: 0px 8%;
    top: 0;
    box-sizing: border-box;
}

.headerholder {
    background-color: #f9f9f9;
    border-top: solid 1px #ccc;
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 0px 8%;

}

.header {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 24px 0 8px;
    box-sizing: border-box;
}

.content {
    margin-bottom: 5%;
}

.nomargin {
    margin: 0;
}

.description {
    margin-top: 10px;
    border-top: solid 1px #666;
    padding: 10px 0;
}

h3 {
    font-size: 22pt;
    width: 100%;
    font-weight: bold;
    margin: 32px 0 0;
}

h4 {
    font-size: 18pt;
    width: 100%;
    font-weight: bold;
    margin: 32px 0 0;
}

.clear {
    clear: both;
}

#footer {
    padding-top: 10px;
    padding-bottom: 18px;
    border-top: solid 1px #666;
    color: #333333;
    text-align: center;
    font-size: 12px;
    font-family: "Courier New", "Courier", monospace;
}

a {
    text-decoration: none;
    color: #0d6ccb !important;
}

a:visited {
    text-decoration: none;
    color: #336699 !important;
}

blockquote {
    background-color: #f9f9f9;
    border-left: solid 4px #e9e9e9;
    margin-left: 12px;
    padding: 12px 12px 12px 24px;
    box-sizing: border-box;
}

blockquote img,
blockquote iframe {
    margin: 12px 0;
    max-width: 100%;
}